<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/stylePhotos.css">
    </head>
    <body>
        <h1><%= title %></h1>
        <p>Express stock photo application.</p>
        <div id="photos">
            <% photos.forEach(function(item){ %>
                <div class="photo">
                    <h2><%=item.name %></h2>
                    <a href="/photo/<%=photo.id%>/download">
                        <img src="/photos/<%= item.path %>" />
                    </a>    
                </div>
            <% }) %>
        </div>
    </body>
</html>